<footer class="footer">
    <div class="container">
        footer
    </div>
</footer>

<script src="<%= assetFingerprint('/js/script.js') %>"></script>
<script src="/js/jquery.min.js"></script>
</body>
</html>