<footer class="footer">
    <div class="container">
        footer
    </div>
</footer>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="<%= assetFingerprint('/js/script.min.js') %>"></script>
</body>
</html>